<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My UC Helper</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    
  <header> 
    <h1>FAQ Chatbot</h1>    
  </header>
  
  <div class="chat-container">
    <div class="chat-box" id="chat-box"> </div>
    <select id="drop-down">
      <option value="When is quiz 1?">When is quiz 1?</option>
      <option value="Who is my convener?">Who is my convener?</option>
    </select>
    <input type="text" id="user-input" placeholder="How can i help you?" />
    <button id="send-btn">Send</button>
  </div>
  
  <footer> 
    <p>2025</p>
  </footer>

  <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>
